In [42]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge

In [43]:
# Read the training data from week 3
data_train = pd.read_csv("../week3/data/training.csv")
data_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1222029077,20141029T000000,265000.0,0,0.75,384,213444,1.0,0,0,...,4,384,0,2003,0,98070,47.4177,-122.491,1920,224341
1,9266700190,20150511T000000,245000.0,1,1.00,390,2000,1.0,0,0,...,6,390,0,1920,0,98103,47.6938,-122.347,1340,5100
2,1352300580,20141114T000000,247000.0,1,1.00,460,4120,1.0,0,0,...,4,460,0,1937,0,98055,47.4868,-122.199,990,4120
3,8655900162,20150219T000000,156000.0,1,0.75,470,15000,1.0,0,0,...,4,470,0,1947,0,98014,47.6554,-121.908,1730,22500
4,1320069249,20141020T000000,192500.0,1,1.00,470,63737,1.0,0,2,...,5,470,0,1924,0,98022,47.2163,-121.984,1350,46762

In [44]:
print data_train.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [45]:
# Change dtypes
data_train['sqft_living'] = data_train['sqft_living'].apply(float)
data_train['bedrooms'] = data_train['bedrooms'].apply(float)

In [46]:
def ridge_regression(data, features, output):
    model = Ridge(alpha=0.05)
    model.fit(data[features], data[output])
    print "Intercept: %g" % model.intercept_
    print "Coeffs: [%s]" % ", ".join([str(c) for c in model.coef_])

In [47]:
features = ['bedrooms', 'sqft_living']
output = 'price'

In [48]:
# No change in features
ridge_regression(data_train, features, output)

Intercept: 89833.2
Coeffs: [-62732.6155741, 319.180702084]

In [49]:
# Double the bedroom values
data_train['bedrooms'] = data_train['bedrooms']*3.
ridge_regression(data_train, features, output)

Intercept: 89834.3
Coeffs: [-20911.0509783, 319.181019048]

In [51]:
three_years = 3. * 365. * 60 * 60 * 24
three_years

94608000.0

In [ ]:
n_obs = 1.E+6